                                                                       TEMUULEN Bulgan - 2022427

### CCT College Dublin Continuous Assessment No.2
# AN ANALYSIS OF INDIAN FARMERS' PROTEST TWEETS.

**Brief Introduction of the project:**

1. For my second continuous assessment, I choose CSV format data of Indian Farmer's Protest Tweets. This file contains over 1 million English language tweets tweeted between November 1st, 2020 and november 21st, 2021 with the hashtag <#FarmersProtest>. It is downloaded from the Kaggle website with the CCO:Public Domain license.
(https://kaggle.com/datasets/prathamsharma123/farmers-protest-tweets-dataset-csv)

2. I divided my project into 3 primary sections (Every step in data processing and analysis is fully discussed on each subsection of these primary sections.):
    1. big data storage and processing
    2. EDA
    3. sentiment analysis and forecast
    4. comparison of the databases

3. I used Git for daily code tracking and GitHub for archiving, monitoring and sharing. To view the whole project on GitHub, click on the follwig link

**Libraries and modules used for this project:**

In [1]:
import pandas as pd
import os
import re
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

## 1. Big Data Storage and Processing

For my second continous project I choose Kaggle.com's dataset called 'Farmers Protest Tweets'. It was collected by the hashtag #FarmersProtest including CCO:Pulic Domain license which means that this dataset allows copy, modify, distribute and perform the work, even for commercial purpososes, all without asking permission. All the tweets in it in English Language and collected from Twitter.com from November 1st, 2020 to November 21st, 2021. The main subject matter of these tweets are about the biggest anti-farm laws protest which took place at the borders of the Indian natioanl capital of New Delhi, organized by coalition of over 40 farmer from across the country.The dataset extraction process was done by Pratham Sharma, kaggle datasets expert who used Twitter API and  snscrape Python library for collection. The tweets data consist of two separate CSVL files with size the size of 1.7Â GB and 81.2 MB.

In [2]:
# Checking the file size of the file.
file_size = os.path.getsize('/home/hduser/Desktop/ca/tweets.csv')/(1024*1024*1024)
print(f'The size of the tweets file is: {file_size:.2f} GB.')
file_size = os.path.getsize('/home/hduser/Desktop/ca/users.csv')/(1024*1024)
print(f'The size of the users file is: {file_size:.2f} MB.')

The size of the tweets file is: 1.69 GB.
The size of the users file is: 81.18 MB.

### 1.1. *Preprocessing in Python.*

Before to start processing the DataSet in distributed file system platforms I decided to examine each CSV file using Pandas on Jupyter Notebook.

***tweets.csv***

In [ ]:
# Creating a DataFrame.
df_tweets = pd.read_csv('/home/hduser/Desktop/ca/tweets.csv')

# Checking the DataFrame.
df_tweets.head(2)

In [ ]:
# Printing information about the DataFrame
df_tweets.info()

***users.csv***

In [ ]:
# Creating a DataFrame.
df_users = pd.read_csv('/home/hduser/Desktop/ca/users.csv')

# Checking the DataFrame.
df_users.head(2)

In [ ]:
# Printing information about the DataFrame
df_users.info()

As we can see from abowe first two code sells the DataSet with tweets consisted of 13 distinct columns of information where some of which is not very importand for further processing. The columns such as 'tweetUrl', 'tweetId', 'source', 'media', 'retweetedTweet', 'quotedTweet', 'mentionedUsers', and 'userId' doesn't include importand information for analysis.

On the other hand last two code sells show that the DataSet with users information consisted of 18 distincst columns of information from which I can only use only column with 'display name. So further I'm going to remove unnessecary columns from each DataFrame and merge them as one.

In [ ]:
# Deleting columns from the DataFrame of tweets.
df_tweets = df_tweets.drop(labels=['tweetUrl', 'tweetId', 'source', 'media', 'retweetedTweet', 'quotedTweet', \
                                   'mentionedUsers'], axis=1)

# Checking the changes.
df_tweets.head(2)

In [ ]:
# Deleting columns from the DataFrame of tweets.
df_users = df_users[['displayname', 'userId']]

# Checking the changes.
df_users.head(2)

In [ ]:
# Performing left merging on two DataFrames.
df_final = pd.merge(df_tweets, df_users, on='userId', how='left')

# Deleting the column 'userId'.
df_final = df_final.drop(labels=['userId'], axis=1)

# Checking the changes.
df_final.head(10)

I merged two DataFrames and removed unessary columns. Now I'm going to save the it as a CSV file on my Ubuntu VM.

In [ ]:
# Saving the DataFrame as 'new_tweets.csv' on my VM with the utf-8 Encoding.
df_final.to_csv('/home/hduser/Desktop/ca/new_tweets.csv', encoding='utf-8', index=False)

In [33]:
# Checking the file size.
new_file_size = os.path.getsize('/home/hduser/Desktop/ca/new_tweets.csv')/(1024*1024)
print(f'The size of new tweet file is: {new_file_size:.2f} MB.')

print(df_final.shape())

The size of new tweet file is: 670.19 MB.

NameError: name 'df_final' is not defined

The file size is reduced from 1.7GB to 670.2MB and it still have importand information of the tweets for further processing.

### 1.2 *Data cleaning in Pyspark.*

I desided to store my new created twitter dataset file in HDFS and before doing EDA and sentiment analysis I'll further do more thorough preprocessing and cleaning done using Apache Spark tools.

In [3]:
# Starting a new SparkSession for data import from HDFS.
spark = SparkSession.builder \
        .appName('HDFS Data Import') \
        .getOrCreate()

In [19]:
# Reading the file.
df_spark = spark.read.option('header', 'true') \
                        .option('multiline', 'true') \
                        .option('quote', "\"") \
                        .option('escape', "\"") \
                        .csv('/ca2/new_tweets.csv')

Using 'SparkSession.builder' I created a new SparkSession for interacting with Spark functionality. Then I created a new PySpark DataFrame by importing the 'new_tweets.csv' file which is stored in HDFS's 'ca2' directory.

***columns***

First thing I would like to do is check all the columns and its datatype.

In [20]:
# Checking the contents of the DataFrame.
df_spark.show(10)

+--------------------+--------------------+----------+------------+---------+----------+-----------------+
|                date|     renderedContent|replyCount|retweetCount|likeCount|quoteCount|      displayname|
+--------------------+--------------------+----------+------------+---------+----------+-----------------+
|2021-03-30 03:33:...|Support ð\n\n#Fa...|         0|           0|        0|         0|             null|
|2021-03-30 03:33:...|Supporting farmer...|         0|           0|        0|         0|             null|
|2021-03-30 03:31:...|Support farmers i...|         0|           0|        0|         0|             null|
|2021-03-30 03:30:...|#StopHateAgainstF...|         0|           1|        3|         0|    Sukhdev Singh|
|2021-03-30 03:30:...|You hate farmers ...|         0|           0|        1|         0|             null|
|2021-03-30 03:29:...|They can't be far...|         0|           0|        0|         0|Abhimanyu ð ð®ð³|
|2021-03-30 03:29:...|They can't be far...|         0|           0|        0|         0|Abhimanyu ð ð®ð³|
|2021-03-30 03:28:...|Lets not forget t...|         0|           2|        3|         0|    Japneet Singh|
|2021-03-30 03:28:...|@Troll48611422 @D...|         1|           0|        0|         0|             null|
|2021-03-30 03:28:...|Neutrality helps ...|         0|           0|        0|         0|    Kisan Botðð¾|
+--------------------+--------------------+----------+------------+---------+----------+-----------------+
only showing top 10 rows

In [21]:
# Checking the columns of the DataFrame
x = 0
columns = ''
while x < len(df_spark.columns):
    columns += df_spark.columns[x] + ' '
    x += 1
print('Columns of the DataFrame:', columns)

Columns of the DataFrame: date renderedContent replyCount retweetCount likeCount quoteCount displayname

In [22]:
# Checking column dtypes.
df_spark.printSchema()

root
 |-- date: string (nullable = true)
 |-- renderedContent: string (nullable = true)
 |-- replyCount: string (nullable = true)
 |-- retweetCount: string (nullable = true)
 |-- likeCount: string (nullable = true)
 |-- quoteCount: string (nullable = true)
 |-- displayname: string (nullable = true)

I examined the DataFrame with its columns and found that because it was imported from the CSV file all 7 columns contained the string dtype values. I'll change the names of the columns to make it easy to use, and dtypes of the column values.

In [23]:
# Renaming the columns.
df_spark = df_spark.select(col('date').alias('date'),
                           col('displayname').alias('user'),
                           col('renderedContent').alias('tweet'),
                           col('replyCount').alias('replied'),
                           col('retweetCount').alias('retweeted'),
                           col('likeCount').alias('liked'),
                           col('quoteCount').alias('quoted'))

In [24]:
# Changing dtypes.
df_spark = df_spark.withColumn('date',to_date(col('date').cast(DateType())))
df_spark = df_spark.withColumn('tweet',col('tweet').cast(StringType()))
df_spark = df_spark.withColumn('user',col('user').cast(StringType()))
df_spark = df_spark.withColumn('replied',col('replied').cast('integer'))
df_spark = df_spark.withColumn('retweeted',col('retweeted').cast('integer'))
df_spark = df_spark.withColumn('liked',col('liked').cast('integer'))
df_spark = df_spark.withColumn('quoted',col('quoted').cast('integer'))

In [25]:
# Checking changes.
df_spark.show(2)

+----------+----+--------------------+-------+---------+-----+------+
|      date|user|               tweet|replied|retweeted|liked|quoted|
+----------+----+--------------------+-------+---------+-----+------+
|2021-03-30|null|Support ð\n\n#Fa...|      0|        0|    0|     0|
|2021-03-30|null|Supporting farmer...|      0|        0|    0|     0|
+----------+----+--------------------+-------+---------+-----+------+
only showing top 2 rows

In [26]:
# Checking changes.
df_spark.printSchema()

root
 |-- date: date (nullable = true)
 |-- user: string (nullable = true)
 |-- tweet: string (nullable = true)
 |-- replied: integer (nullable = true)
 |-- retweeted: integer (nullable = true)
 |-- liked: integer (nullable = true)
 |-- quoted: integer (nullable = true)

Now all the column values has the appropirate data format as well as the names of the columns are short and clear.

***null values and duplicates***

Second thing I would like to do for cleaning is removing the duplicates and null values.

In [27]:
# Examining the shape of the DataFrame
print('The DataFrame consists of', len(df_spark.columns), 'columns and', df_spark.count(), 'rows.')

Number of columns: 7

Number of rows: 2953850

The Dataframe consists of 2.953.850 rows and 7 colums. And as can be seen from the 'show()' method above it is obvious that there are lots of duplicates on it, so I would like to remove them. 

Moreover, there are some NaN values in the new merged column 'displayname'. It seems like some users that tweeted on the twitter doesn't have a Display Name. It might indicate that they no longer user of the social media plaform, or even might have blocked becuse of trolling or whatever reason, the account might have been deleted. So to prevent the bias and also to not waste my memory for extra processing I have decided to drop the rows which doesn't contain the display name or contain duplicate tweet entries.

After these changes I'll order table contents by the date.

In [28]:
# Dropping the duplicates.
df_spark = df_spark.drop_duplicates()

# Dropping rows with null values in the column 'displayname'.
df_spark = df_spark.filter(col('displayname').isNotNull())

# Ordering by date.
df_spark = df_spark.orderBy('date')

In [29]:
# Checking the changes.
df_spark.show(10)

+----------+--------------------+--------------------+-------+---------+-----+------+
|      date|                user|               tweet|replied|retweeted|liked|quoted|
+----------+--------------------+--------------------+-------+---------+-----+------+
|2020-11-01|Manickam Tagore ....|Yesterday in a pu...|      8|       95|  389|     5|
|2020-11-01|          Rajay Deep|Such a shame!\n\n...|      0|        0|    2|     0|
|2020-11-01|          OnTheFritz|@WhiteHouse @real...|      1|        0|    3|     0|
|2020-11-01|        ClaireDeLune|Has this been rep...|      0|        0|    1|     0|
|2020-11-02|     pravingandhino1|.@asadowaisi \nTh...|      0|        0|    0|     0|
|2020-11-02|         Bimal Jaggi|#GujjarReservatio...|      0|        0|    1|     0|
|2020-11-02|   Vishal Maheshwari|@narendramodi Ver...|      0|        0|    0|     0|
|2020-11-02|IndoAsianCommodities|Given #FarmersPro...|      0|        0|    0|     0|
|2020-11-02|Fateh Singh  Bhullar|Other side of APM...|      0|        0|    1|     0|
|2020-11-03|         Rajan kumar|signature campaig...|      0|        0|    1|     0|
+----------+--------------------+--------------------+-------+---------+-----+------+
only showing top 10 rows

In [32]:
# Checking the changes.
print('The DataFrame consists of', len(df_spark.columns), 'columns and', df_spark.count(), 'rows.')

DataFrame consists of 7 columns and 1066380 rows

In [35]:
# Checking null values on entire DataFrame.
df_spark.filter(col('date').isNull() | col('user').isNull() | col('tweet').isNull() | col('replied').isNull() | \
                col('retweeted').isNull() | col('liked').isNull() | col('quoted').isNull()).show()

+----+----+-----+-------+---------+-----+------+
|date|user|tweet|replied|retweeted|liked|quoted|
+----+----+-----+-------+---------+-----+------+
+----+----+-----+-------+---------+-----+------+

Above executed cells show that now the DataFrame shape is 1.066.380x7. There are ni dublicates and no null values, it is now clean and clear. However since I'll do the sentimental analysis for this project I would like to clean the entries of the column 'tweet'.

***the column 'tweet'***

Firstly I will remove tags, hashtags, emails, links from the tweets because I would like to focus on the text itself, rather than considering the additional context. They extra contexts are not  directly contribute to the sentiment of the tweet.

In [36]:
# Removing tags, hashtags, emails, and website links from the values of the column 'tweet'.
df_spark = df_spark.withColumn('tweet', regexp_replace('tweet', r'@\w+|#\S+|\S+@\S+|http\S+|www\S+|\S+/\S+', ''))

In [42]:
# Checking changes.
df_spark.select('tweet').orderBy('tweet', ascending=False).limit(10).show(10, False)

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|tweet                                                                                                                                                                                                                                                                  |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|ð§µappalled by the academics RTâing Indiaâs covid surge while still clueless about  India blocked protestors out of their own capitol &amp; will now argue that protestors are creating barriers to emergency response.  is responsible for farmersâ &amp; COVID deaths.|
|ð§µappalled by the academics RTâing Indiaâs covid surge while still clueless about  India blocked protestors out of their own capitol &amp; will now argue that protestors are creating barriers to emergency response.  is responsible for farmersâ &amp; COVID deaths.|
|ð§µSome Data Around Agriculture. Read and take your own side in the ongoing \nAnd if you have a counter view, show me Data, not emotions led tweets.                                                                                                                    |
|ð§µ1| We are delighted to learn from  in our upcoming event on Nov.20th! Sarover Zaidi is a philosopher &amp; social anthropologist who wrote this wonderful piece on the various speeds of the                                                                         |
|ð§µ âAmaranth is Chilai and Quinoa is Bathuâ¦ I had to order it online. Amaranth at Rs 200 and Qunioa at 400, per kiloâ¦ These plants grow all over Punjab and people treat them like weeds and  them.â \n\n                                                              |
|ð§µ Today I spoke on behalf of  in solidarity with  and  \n\nAs a male, urban tech worker, I'm not well connected or familiar with agricultural struggle which I want to change. \n\nð We are global, find a chapter!                                                  |
|ð§µ \n\nSupreme Court UPDATE :  ðð¾\n\n \n\n\n \n\n                                                                                                                                                                                                                    |
|ð§µ\nWhat a hypocritical world we're leaving in. As  is getting more attention day after other by various celebrities and politicians who are having vested interests in it. It is reported that around 200 farmers have LOST their life while protesting .             |
|ð§¡ \n \n \n \n \n\n\nSee this  ð\n                                                                                                                                                                                                                                    |
|ð§ Of all people!                                                                                                                                                                                                                                                      |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

Emails, links, tags, hashtags from The 'tweet' column values were successfully removed, however, from the above cell I can see that the  column 'tweet' still missing some cleaning. Further, I will remove leading and traling whitespaces, '&amp' character referencing for an ampersand, and non-English texts from the string value of the column. Then, I'll replace two or more continous whitespaces with a single whitespace, and also, I'll replace the new line and tab with '.'. And lastly I'll lowercase the entire string for each column value.

In [45]:
# Removing leading and trailing whitespace from the values of the column 'tweet'.
df_spark = df_spark.withColumn('tweet', trim(df_spark.tweet))

# Removing character referencing for an ampersand.
df_spark = df_spark.withColumn('tweet', regexp_replace('tweet', '&amp', ' '))

# Replacing two or more spaces to one from the values of the column 'tweet'.
df_spark = df_spark.withColumn('tweet', regexp_replace('tweet', r'\s{2,}', ' '))

# Replacing new-line and tab to '.' from the values of the column 'tweet'.
df_spark = df_spark.withColumn('tweet', regexp_replace('tweet', r'\n|\t', '.'))

# Removing non-English text from the values of the column 'tweet'.
df_spark = df_spark.withColumn('tweet', regexp_replace('tweet', "[^a-zA-Z0-9!@#$%^&*()_+\-={}\[\]|\\;:'\",.<>/?~` ]", ''))

# Lowercasing all the values of the column 'tweet'.
df_spark = df_spark.withColumn('tweet', lower(df_spark.tweet))

In [46]:
# Checking changes.
df_spark.select('tweet').show(10, False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|tweet                                                                                                                                                                                                             |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|yesterday in a public meeting alleged that leader staged managed a protest of farmer by burning his own crop field. today vaartha front page news covered in chandrasekar garu home district.now what you will say|
|such a shame! i wish as well as take note of your tweet ; address the issue with corrective measures.                                                                                                             |
|forty cents of every dollar that american farmers earn comes from the taxpayer. in the last two years us farm debt and bankruptcies have spiked as a result of trumps china and european trade policies.          |
|has this been reported on msm? or are they ignoring this?                                                                                                                                                         |
|.there seems to be a design to keep india in perpetual protest mode. why protest in india over an incident in                                                                                                     |
|protesting on railway lines which is on railway land ; railways property, thus disrupting rail traffic has become a fashion. this is nonsense ; needs ban legally under law.                                      |
|very irresponsible behaviour of govt of india with punjab they are not initiating for solving the i am from bjp and wishing defeat in bihar                                                                       |
|given in and , the procurement season was advanced by a few days...                                                                                                                                               |
|other side of apmc repeal: bihar farmers want mandis, like punjab | elections news,the indian express.                                                                                                            |
|signature campaign launched by in against                                                                                                                                                                         |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

Ok, the cleaning is done and it looks fine. I'll safe this DataFrame to HDFS as CSV file.

In [54]:
# Saving the DataFrame to HDFS.
df_spark.write.format('csv').save('hdfs://localhost:9000/ca2/tweets')

## 2. EDA

In [55]:
# Converting my PyCharm DataFrame to Pandas DataFrame.
df = df_spark.toPandas()

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1066380 entries, 0 to 1066379
Data columns (total 7 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   date       1066380 non-null  object
 1   user       1066380 non-null  object
 2   tweet      1066380 non-null  object
 3   replied    1066380 non-null  int32
 4   retweeted  1066380 non-null  int32
 5   liked      1066380 non-null  int32
 6   quoted     1066380 non-null  int32
dtypes: int32(4), object(3)
memory usage: 40.7+ MB

In [61]:
df.head(3)

,date,user,tweet,replied,retweeted,liked,quoted
0,2020-11-01,OnTheFritz,forty cents of every dollar that american farm...,1,0,3,0
1,2020-11-01,ClaireDeLune,has this been reported on msm? or are they ign...,0,0,1,0
2,2020-11-01,Rajay Deep,such a shame! i wish as well as take note of y...,0,0,2,0

In [60]:
df.describe()

            replied     retweeted         liked        quoted
count  1.066380e+06  1.066380e+06  1.066380e+06  1.066380e+06
mean   9.270138e-01  7.838468e+00  1.730490e+01  6.012163e-01
std    1.593291e+02  3.187909e+02  9.662562e+02  4.602977e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  1.000000e+00  0.000000e+00
75%    0.000000e+00  2.000000e+00  3.000000e+00  0.000000e+00
max    1.630650e+05  3.155470e+05  9.443070e+05  4.583200e+04

In [47]:
df_spark.groupBy('user').count().sort('count', ascending=False).show()

+--------------------+-----+
|                user|count|
+--------------------+-----+
|  The Pacifist Rebel| 7741|
|       Kisan Botðð¾| 7338|
| à¨¸à¨°à¨¦à¨¾à¨° à¨¸à¨¾à¨¬(A Farmer)| 4403|
|à¨à¨¿à¨¸à¨¾à¨¨Andolajivi r...| 4107|
|à¨à¨¿à¨¸à¨¾à¨¨Andolajivi R...| 4107|
|             Navneet| 3706|
|       Navneet Jammu| 3659|
|          IndiaToday| 3480|
|           ðramanð| 3251|
|PARSHOTAM SINGH S...| 3210|
|                 Jot| 3133|
|Jaz ð¨ð¦ð¾ à¨à¨°à¨® à¨à¨¿à¨à¨²à©| 3052|
|     Manminder Singh| 2561|
|For love of Punja...| 2495|
|Jaspal Kaur Bains...| 2495|
|                John| 2489|
|à¨¤à¨à¨¦à©à¨° à¨à©à¨° ðºð¸ à¨¦à©à¨à¨¬à¨£| 2480|
|    Shivinder Thakur| 2421|
|    Kuldeep Dhaliwal| 2405|
|           onnniiaaa| 2382|
+--------------------+-----+
only showing top 20 rows

In [ ]:
df_spark.collect()[1][1]

In [ ]:
print(type(df_spark.count()))

In [ ]:
spark.sql('select * from tweet').show(4)

In [ ]:
spark.stop()